.media-container {
  height: 15%;
  width: 18rem;
}
.rhap_controls-section {
  display: flex;
  flex-direction: row;
}
.sounds {
  display: flex;
  flex-direction: row;
  width: 20rem;
}
.rhap_additional-controls {
  width: fit-content;
}
.rhap_main-controls {
  width: fit-content;
}
.rhap_volume-controls {
  width: fit-content;
}
