.nav-bar {
  min-height: fit-content;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  width: auto;
}
.nav-tools {
  list-style-type: none;
  width: 100%;
}
.logo {
  text-decoration: none;
  font-family: "Merienda", cursive;
}
